body{
	margin:0;
	padding:0;
	font-family:arial;
	color:#5a5b5e;
	font-size:12px;
	background:#C8E8F2
}

.clear{clear: both !important;}
img{border:0}
a{text-decoration:none;color:#5a5b5e}
a:hover{text-decoration:underline}


#header a, #footer_top a {color: #fff;}
#header a:hover, #footer_top a:hover {color: #FF4A5F;}}
#header-top a {font-weight: bold;text-decoration: none;}
#header-top a:hover {text-decoration: underline;}

#page-nav {background: #000 url(/css/img/header_bg.gif) repeat scroll 0 0;font-size: 13px;font-weight: 600;padding: 15px 0 0 0px;height: 30px;text-align:center}
#page-nav a:hover {color: #fff;background: #0099FF;}



.wrap{
	background:#C8E8F2;
	width:1000px;
	min-height:800px;
	margin:0px auto;
	border-right:0px solid #525252;
	border-left:0px solid #525252;
}

input.txt{
	font-family:arial;
	font-size:12px;
	color:#616161;
	border:1px solid #474747;
	background:#d6d6d6	
}





#sct_top_bar{
	background:url(image/bg-top-bar.png) repeat-x top left;
	height:30px;
	overflow:visible;
	color:#fff
}

#sct_top_bar a{
	color:#fff
}

#sct_top_bar a:hover{
	color:#ddff0e
}


#sct_top_bar form{
	padding:0;
	margin:0	
}

#sct_top_bar input.txt{
	background:url(image/bg-txt.png) no-repeat top left transparent;
	width:168px;
	height:18px;
	border:none;
	padding:3px 5px 0 5px;
	margin:0 2px 0 0;	
	color:#616161
}

#sct_top_bar input{
	float:left;
	margin:0 2px 0 0;
}

#sct_user_log_in{
	float:left;
        font-family: Arial, Helvetica, sans-serif;
        font-size:16px;
        font-weight: bolder;
        color:#FFFFFF; 
        letter-spacing:5px;
	padding:5px 10px 5px 20px
}

#sct_user_log_in img{
	float:left;
	margin:0 0 0 1px;
}

#sct_account{
	line-height:21px;
	margin-left:3px
}

#sct_search_form{
	padding:5px 3px 0 0;
	float:right
}





#sct_header{
	background:#303030;
	height:93px;
	margin-bottom:1px
}

#logo{
	margin:15px 0 0 14px
}





#sct_menu{
	background:url(image/bg-menu/nm.png) repeat-x top left;
	height:38px;
	margin-bottom:3px
}

#sct_menu ul{
	padding:0;
	margin:0 0 0 3px;
	list-style:none
}

#sct_menu ul li{
	float:left;
	list-style:none
}

#sct_menu ul li b{
	border-right:1px solid #6c6c6c;
	display:block;
	height:38px;
	padding:0 30px;
	font-weight:normal
}

#sct_menu ul li a{
	font-size:15px;
	color:#fff;
	display:block;
	margin:0;
	line-height:38px
}

#sct_menu ul li.current_page_item{
	background:url(image/bg-menu/sel-m.png) repeat-x top left;
	height:44px;
	margin-top:-6px;
}

#sct_menu ul li.current_page_item b{
	background:url(image/bg-menu/sel-r.png) no-repeat top right transparent;
	border:none;
	font-weight:bold;
}

#sct_menu ul li.current_page_item a{
	background:url(image/bg-menu/sel-l.png) no-repeat top left transparent;
	color:#8d0006;
	line-height:50px;
}





.top_page{
	min-height:74px;
	padding:3px;
	width:988px;
	margin:0px auto;
	background:#161616;
	margin-bottom:4px
}





#sct_col_l{
	float:left;
	width:675px;
	margin-left:3px
}

#sct_col_l.full_width{
	width:994px
}

#sct_col_r{
	float:right;
	width:315px;
	margin-right:3px
}





#sct_wid_top ul{
	margin:0;
	padding:0;
	list-style:none
}

#sct_wid_top ul li{
	list-style:none
}

#sct_wid_top ul li.wid{
	background:url(image/bg-bot-675.png) no-repeat bottom left #fff;
	margin-bottom:4px
}

#sct_wid_top h2.title{
	background:url(image/bg-top-675.png) no-repeat top left;
	font-size:15px;
	font-weight:normal;
	color:#445566;
	height:31px;
	line-height:31px;
	display:block;
	margin:0;
	padding:0 8px
}

#sct_wid_top div.con{
	padding:8px
}





#sct_wid_top.full_width ul li.wid{
	background:url(image/bg-bot-994.png) no-repeat bottom left #fff;
}

#sct_wid_top.full_width h2.title{
	background:url(image/bg-top-994-b.png) no-repeat top left;
}





#sct_content{
	background:url(image/bg-bot-675.png) no-repeat bottom left #fff;
	margin-bottom:4px
}

#sct_content h2.title{
	background:url(image/bg-top-675.png) no-repeat top left;
	font-size:15px;
	font-weight:normal;
	color:#445566;
	height:31px;
	line-height:31px;
	display:block;
	margin:0;
	padding:0 8px
}

#sct_content h2.title a{
	color:#445566;
}

#sct_content div.con{
	padding:8px
}





#sct_content.full_width{
	background:url(image/bg-bot-994.png) no-repeat bottom left #fff;
}

#sct_content.full_width h2.title{
	background:url(image/bg-top-994-b.png) no-repeat top left;
}





#sct_wid_bot ul{
	margin:0;
	padding:0;
	list-style:none
}

#sct_wid_bot ul li{
	list-style:none
}

#sct_wid_bot ul li.wid{
	background:url(image/bg-bot-675.png) no-repeat bottom left #fff;
	margin-bottom:4px
}

#sct_wid_bot h2.title{
	background:url(image/bg-top-675.png) no-repeat top left;
	font-size:15px;
	font-weight:normal;
	color:#445566;
	height:31px;
	line-height:31px;
	display:block;
	margin:0;
	padding:0 8px
}

#sct_wid_bot div.con{
	padding:8px
}





#sct_wid_bot.full_width ul li.wid{
	background:url(image/bg-bot-994.png) no-repeat bottom left #fff;
}

#sct_wid_bot.full_width h2.title{
	background:url(image/bg-top-994-b.png) no-repeat top left;
}





#sct_wid_rgt ul{
	margin:0;
	padding:0;
	list-style:none
}

#sct_wid_rgt ul li{
	list-style:none
}

#sct_wid_rgt ul li.wid{
	background:url(image/bg-bot-315.png) no-repeat bottom left #fff;
	margin-bottom:4px
}

#sct_wid_rgt ul li.wid li{
	padding:3px 0px 3px 0;
}

#sct_wid_rgt h2.title{
	background:url(image/bg-top-315.png) no-repeat top left;
	font-size:15px;
	font-weight:normal;
	color:#445566;
	height:31px;
	line-height:31px;
	display:block;
	margin:0;
	padding:0 8px
}

#sct_wid_rgt div.con{
	padding:8px
}





/* footer */
footer{margin-top:20px;}
footer .footer_nav{width:950px; margin:0 auto; background-position:0 -220px; height:27px; line-height:27px; color:#cfdbe2; text-align:center;}
footer .footer_nav li{display:inline-block; *display:inline; *zoom:1;}
footer .footer_nav li a{color:#186aad; margin:0 19px;}
footer .footer_affiliates{width:950px; margin:20px auto;}
footer .footer_affiliates .img_icon{width:108px; height:46px; margin:0 40px 0 32px; background-position:-300px 0; float:left;}
footer .footer_affiliates ul{float:left; width:770px;}
footer .footer_affiliates ul li{float:left; width:128px;}
footer .footer_affiliates ul li a{color:#6b8ea2;}
footer .footer_links{text-align:center; background-color:#129bc9; line-height:36px; height:36px;}
footer .footer_links a{color:#fff; margin:0 20px; display: inline-block;}
footer .footer_copy{padding:18px 0; background:#048ebc; color:#77c1dc; text-align:center;}

#sct_credit{
	float:left;
	width:250px
}

#sct_menu_bot{
	float:right;
	overflow:hidden;
	width:700px
}

#sct_menu_bot ul{
	margin:4px -10px 0 0;
	padding:0;
	list-style:none;
	float:right
}

#sct_menu_bot ul li{
	float:left;
	border-right:1px solid #fff;
	padding:0 10px;
	height:14px;
	line-height:12px;
}

#sct_menu_bot ul li a{
	line-height:12px;
}